<nav mat-tab-nav-bar>
  <a mat-tab-link
     [routerLink]="['visual']"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Visual Editor
  </a>
  <a mat-tab-link
     [routerLink]="['legacy']"
     routerLinkActive #rlb="routerLinkActive"
     [active]="rlb.isActive">
    Legacy Editor
  </a>
  <a mat-tab-link
     [routerLink]="['add_exhibit']"
     routerLinkActive #rlc="routerLinkActive"
     [active]="rlc.isActive">
    Add Exhibit
  </a>
</nav>
<router-outlet></router-outlet>
